@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700');
html,
body{
  height: 100%;
}

body {
  background: url('../img/capa.png'), url('../img/ruido.png'), linear-gradient(50deg, #BBDEFB, #42A5F5);
  background-attachment: fixed;
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
  overflow-x: hidden;

}

#bootstrap-overrides .form-group input,
#bootstrap-overrides .form-group select,
#bootstrap-overrides .form-group button,
#bootstrap-overrides .input-group-addon,
#bootstrap-overrides .modal-content{
  border-radius: 0;
}
/*========== Header ============*/


.img-logo_top {
  height: 38px;
  width: 160px;
  display: block;
  background: url('http://fhinck.com/images/logo_fhinck.png') no-repeat;
  background-size: contain;
  color: transparent;
}

/*========== imagem ============*/

.capa {
  display: table;
  width: 100%;
  border-bottom: 2px solid #F79633;
}
#navePhoto{
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
  from {
    opacity:0;
    margin-top: -59px;
  }
  to {
    opacity:1;
    margin-top: 0;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0;
    margin-top: -59px;
  }
  to {
    opacity:1;
    margin-top: 0;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
    margin-top: -59px;
  }
  to {
    opacity:1;
    margin-top: 0;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity:0;
    margin-top: -59px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
#naveBox {
  border-bottom: 1px solid #f79633;
  border-top: 1px solid #f79633;
  padding: 2%;
  margin-bottom: 3%;
  text-align: center;
}
#naveBox > p {
  font-size: 2em;
}
/*========== Formulario ============*/
.invalid {
  border: 1px solid red;
}
.erro {
  border: 2px solid red;
}
.msg-erro {
  color:red;
}
#content{
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}
#bootstrap-overrides .form-inline.col-md-7,
#bootstrap-overrides .form-group.col-md-4 {
  padding-left: 0;
}
#text-access,
#text-block,
#text-erromail,
#text-successmail,
#text-erronome,
#text-errodata,
#text-errodata1,
#text-errohora,
#text-errohora1{
  display: none;
  border-radius: 0;
}
/*========== Rodapé ============*/

footer {
  background: #212121;
  padding: 50px 0 20px 0;
  position: relative;
}
.img-logo_footer {
  height: 38px;
  width: 160px;
  display: block;
  background: url('http://fhinck.com/images/fhinck-logo-light.png') no-repeat;
  background-size: contain;
  color: transparent;
}
/*========== Tipografia ============*/

#bootstrap-overrides h1 {
  font-size: 2.5em;
  margin-bottom: 50px;
  text-align: center;
  color: #F79633;
  vertical-align: middle;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
#bootstrap-overrides h2 {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: -0.04em;
  text-align: center;
}

#bootstrap-overrides h3 {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -0.04em;
}
#bootstrap-overrides .input-group-addon .glyphicon{
  color: #F79633;
}
